
src/arm64/

src/__pycache__/

batchData/ray/grid_1/run_9295563f_7_EEGain=1.5000,IEweights_0=1.5000,IEweights_1=1.5000,IEweights_2=0.5000,IIweights_0=0.5000,IIweights_1=0.5000,IIweig_2025-09-25_13-12-20/

*.Mollys-Laptop

batchData/**
src/trials.sqlite.db

src/trials.log

*.pyc

.idea/

.DS_Store

cells/Na12HH16HH_TF.json

src/trials.sqlite.db.lock

cells/Neuron_Model_12HH16HH/params/na12annaTFHH2mut.txt
